<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>

    {% if status_registro == True %}
    <div class="alert alert-success">Cadastro realizado com sucesso!</div>
    {% else %}
    <div class="alert alert-danger">Erro no Cadastro!</div>
    {% endif %}

    <img src="/static/assets/computer.jpeg">

    <!-- javascript files -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootstrap.site.js"></script>
  </body>
</html>